@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@300;400;700&display=swap');

:root {
  --colour-red: rgba(255, 0, 0, 1);
  --colour-orange: rgba(255, 165, 0, 1);
  --colour-yellow: rgba(255, 255, 0, 1);
  --colour-green: rgba(0, 128, 0, 1);
  --colour-blue: rgba(0, 0, 255, 1);
  --colour-indigo: rgba(75, 0, 130, 1);

  --gradient-down: linear-gradient(var(--colour-red) 0%, var(--colour-orange) 20%, var(--colour-yellow) 40%, var(--colour-green) 60%, var(--colour-blue) 80%, var(--colour-indigo) 100%);
  --gradient-right: linear-gradient(to right, var(--colour-red) 0%, var(--colour-orange) 20%, var(--colour-yellow) 40%, var(--colour-green) 60%, var(--colour-blue) 80%, var(--colour-indigo) 100%);
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  background: white;
  background: var(--gradient-down);
  background-attachment: fixed;
}

body {
  margin: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.75);
  font-family: 'Poppins', sans-serif;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'PT+Serif', serif;
}

a {
  position: relative;
  text-decoration: none;
  color: black;
}

a::visited {
  color: black;
}

a::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: black;
  background: var(--gradient-right);
}

nav ul a::after {
  width: 0;
}

nav ul,
#about ul {
  list-style-type: none;
  padding-left: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
    background: var(--gradient-right);
}

#about ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1em;
}

#about li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li,
#about li {
  flex: 1;
  text-align: center;
}

nav li {
  background-color: rgba(255, 255, 255, 0.75);
}

#about li:nth-child(6n + 1) {
  border: 2px solid var(--colour-red);
}

#about li:nth-child(6n + 2) {
  border: 2px solid var(--colour-orange);
}

#about li:nth-child(6n + 3) {
  border: 2px solid var(--colour-yellow);
}

#about li:nth-child(6n + 4) {
  border: 2px solid var(--colour-green);
}

#about li:nth-of-type(6n + 5) {
  border: 2px solid var(--colour-blue);
}

#about li:nth-of-type(6n + 6) {
  border: 2px solid var(--colour-indigo);
}

/* TODO temporary, because I keep accidentally clicking on them */
svg {display: none}